STRAPI_API_BASE_URL=http://...
STRAPI_API_KEY=123456azerty
RESEND_API_KEY=123456azerty
RESEND_EMAIL_FROM=contact@example.com
NEXT_PUBLIC_APP_URL=http://...
NEXT_PUBLIC_LOCPROOF_DEV=true
BASIC_AUTH_USER=azerty-----not-necessary-for-local-dev
BASIC_AUTH_PASSWORD=azerty-----not-necessary-for-local-dev
REMOTE_PATTERN_PROTOCOL=http
REMOTE_PATTERN_HOSTNAME=localhost
REMOTE_PATTERN_PORT=3000