# ==============================================================================
# Test environment — Security
# ==============================================================================

# BASIC_AUTH_USER=azerty-----not-necessary-for-local-dev
# BASIC_AUTH_PASSWORD=azerty-----not-necessary-for-local-dev


# ==============================================================================
# Application
# ==============================================================================

NEXT_PUBLIC_APP_URL=http://...
DEBUG=1 | 0


# ==============================================================================
# Development
# ==============================================================================

DEV_ORIGIN=123.456.7.890 # Ip address


# ==============================================================================
# Strapi
# ==============================================================================

STRAPI_API_BASE_URL=http://...
STRAPI_API_KEY=123456azerty


# ==============================================================================
# Email
# ==============================================================================

RESEND_API_KEY=123456azerty

SMTP_HOST=mail.domain.com
SMTP_PORT=123
SMTP_USER=contact@domain.com
SMTP_PASSWORD=password


# ==============================================================================
# Email — Feature flags
# ==============================================================================

SEND_VALIDATION_EMAIL=true
SEND_LANDLORD_EMAIL=true
SEND_TENANT_EMAIL=true
SEND_RETRIEVE_PROFILE_EMAIL=true


# ==============================================================================
# Remote assets
# ==============================================================================

REMOTE_PATTERN_PROTOCOL=http
REMOTE_PATTERN_HOSTNAME=localhost
REMOTE_PATTERN_PORT=3000